@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    --grid-rows: 1;
    --grid-columns: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset button styles. */
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    /* default for <button>, but useful for <a> */
    display: inline-block;
    text-align: center;
    text-decoration: none;

    /* create a small space when buttons wrap on 2 lines */
    margin: 2px 0;

    /* invisible border (will be colored on hover/focus) */
    border: solid 1px black;
    border-radius: 4px;

    /* size comes from text & padding (no width/height) */
    padding: 0.5em 2em;

    /* make sure colors have enough contrast! */
    color: black;
    background-color: white;
    
    /* all browsers: remove the default outline. */
    outline: none;
}


/* old-school "down" effect on clic + color tweak */
.btn:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

/* inverse colors on mouse-over */
.btn:hover {
    color: white;
    border-color: currentColor;
    background-color: black;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 4px mediumseagreen;
}

/* Firefox: removes the inner border shown on focus */
.btn::-moz-focus-inner {
    border: none;
}

.btn-square {
    border: none;
    border-radius: 0;
    padding: 1.5em;
    margin: 4px;
}

.btn-square:focus {
    box-shadow: none;
}

#reset-btn {
    font-family: sans-serif;
    font-size: 20px;
}
body {
    text-align: center;
}


.frame {
    position: relative;
    width: 800px;
    height: 800px;
    margin: 50px auto;
    border-radius: 50px;
    background-color: #D5011F;
}

.frame-top {
    position: relative;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame-title {
    margin-bottom: 10px;
    color: white;
    text-shadow: 0px 2px 0px black;
    font-size: 60px;
    font-family: 'Indie Flower', cursive;
}

.frame-grid-size {
    position: absolute;
    bottom: -5%;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    letter-spacing: 6px;
    color: white;
    text-shadow: 0px 2px 0px black;
}

.frame-right {
    border: 2px solid black;
    background-color: white;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 15%;
    right: 6%;
}

#black-btn {
    background-color: black;
    box-shadow: 0 0 0 4px mediumseagreen;
}

#rainbow-btn {
    background: -moz-linear-gradient( top ,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 255, 0, 1) 15%,
        rgba(0, 255, 0, 1) 30%,
        rgba(0, 255, 255, 1) 50%,
        rgba(0, 0, 255, 1) 65%,
        rgba(255, 0, 255, 1) 80%,
        rgba(255, 0, 0, 1) 100%);
    background: -webkit-gradient(linear,  left top,  left bottom, 
        color-stop(0%, rgba(255, 0, 0, 1)), 
        color-stop(15%, rgba(255, 255, 0, 1)),
        color-stop(30%, rgba(0, 255, 0, 1)),
        color-stop(50%, rgba(0, 255, 255, 1)),
        color-stop(65%, rgba(0, 0, 255, 1)),
        color-stop(80%, rgba(255, 0, 255, 1)),
        color-stop(100%, rgba(255, 0, 0, 1)));
}

#christmas-btn {
    background-image: url(/images/robin.jpeg);
    background-size: 100px;
    display: none;
}

.frame-bottom {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 0 auto;
    width: 70%;
    height: 70%;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    border: 5px solid black;
    background-color: black;
}

.grid-item {
    background-color: #DADADA;
}